@media (max-width: 1200px) {
    .message .message-avatar, .user-message .message-avatar, .message, button{
        font-size: 35px;
        transform: translateZ(0);
    }

    .chat-content{
        margin: 0 0 0 20px;
        width: 92%;
    }

    button{
        padding: 15px 30px;
    }

    h2{
        text-align: center;
        font-size: 50px;
    }

    .chat-header{
        padding: 1px;
    }

    .img-content img{
        width: 50vw;
        height: auto;
    }

} 
@media (min-width: 1200px) {
    button:hover{
        background-color: white;
        color: dodgerblue;
    }
    
}