.body-naughty{ animation: backcolor-naughty 3s forwards;}

@keyframes backcolor-naughty {
    0% {background-color: transparent;}
    100% {background-color: rgb(104, 23, 23);}
}

.header-naughty{ animation: header-naughty 3s forwards;}

@keyframes header-naughty {
    0% {background-color: rgba(255, 255, 255, 0.401);}
    100% {background-color: rgba(104, 23, 23, 0.401);}
}

.button-naughty{background-color: black;color: white;}

.user-message.user-naughty .message-content {color: rgb(0, 0, 0); background-color: rgb(179, 142, 142);}

.bot-message.bot-naughty .message-content {color: rgb(255, 255, 255);background-color: rgb(141, 72, 72);}


.body-funny{
    animation: backcolor-funny 3s forwards;
}

@keyframes backcolor-funny {
    0% {background-color: transparent;}
    100% {background-color: rgb(99, 7, 192);}
}

.header-funny{ animation: header-funny 3s forwards;}

@keyframes header-funny {
    0% {background-color: rgba(255, 255, 255, 0.401);}
    100% {background-color: rgba(99, 7, 192, 0.401);}
}

.user-message.user-funny .message-content {color: rgb(0, 0, 0); background-color: rgb(248, 239, 179);}

.bot-message.bot-funny .message-content {color: rgb(0, 0, 0); background-color: rgb(252, 154, 233);}


.body-romantic{
    animation: backcolor-romantic 3s forwards;
}

@keyframes backcolor-romantic {
    0% {background-color: transparent;}
    100% {background-color: rgb(237, 153, 187);}
}

.header-romantic{ animation: header-romantic 3s forwards;}

@keyframes header-romantic {
    0% {background-color: rgba(255, 255, 255, 0.401);}
    100% {background-color: rgba(237, 153, 187, 0.401);}
}


.user-message.user-romantic .message-content {color: rgb(255, 255, 255); background-color: #ba79ba;}

.bot-message.bot-romantic .message-content {color: rgb(255, 255, 255); background-color: #937fbe;}
