@font-face {
    font-family: 'Ubuntu';
    src: url(../font/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url(../font/Ubuntu-Light.ttf);
}

html{
    height: -webkit-fill-available;
    max-height: 100vh;
}

body{
    height: -webkit-fill-available;
    max-height: 100vh; 
    font-family: sans-serif;
    margin: 0;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    position: absolute;
    width: 100vw;
    height: 16vh;
    z-index: 3;
    border-radius: 0 0 50px 50px;

    background-color: rgba(255, 255, 255, 0.401);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
}

.h2{
    color: salmon;
    margin:0;
    font-size: 60px;
    font-family: 'Ubuntu';
    text-transform: lowercase;
}

.avatar-area{
    display: flex;
    flex-direction: column;
    margin: 50px 150px 0 40px;
}

.avatar-area p{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0px;
    color: dodgerblue;
    font-family: 'Ubuntu-Light';
}

.avatar, .avatar-container{
    width: 10vh;
    height: 10vh;
}

.avatar-container{
    border-radius: 50%;
    background-color: salmon;
    overflow: hidden;
}

.avatar {
    transform: translateY(10px);
}


.container{
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    height: 82vh;
    overflow-anchor: auto !important;
}

.chat-content{
    margin: auto;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
}
  
.message{
    margin: 8px 0;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}
  
.bot-message .message-content {
    max-width: 70%;
    padding: 20px 25px 25px 30px;
    background-color: rgb(255, 230, 227);
    border-radius: 30px;
}

.first {
    margin-top: 16vh;
}

.emoji{
    font-size: 80px!important;
    padding: 10px 30px!important;
}

.user-message{
    margin: 8px 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
  
.user-message .message-content {
    max-width: 70%;
    padding: 20px 25px 25px 30px;
    background-color: dodgerblue;
    color: white;
    border-radius: 30px;
}
  
.user-input{
    margin: 10px 0;
    text-align: center;
}
  
button{
    background-color: dodgerblue;
    color: white;
    border-radius: 200px;
    border: none;
    padding: 5px 10px;
    margin: 10px 5px;
}

.disabled{
    background-color: rgb(191, 191, 191)!important;
}

.img-content img{
    border-radius: 30px;
}