html{
    height: -webkit-fill-available;
    max-height: 100vh; 
}
body{
    height: -webkit-fill-available;
    max-height: 100vh; 
    font-family: sans-serif;
    margin: 0;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    position: absolute;
    width: 100vw;
    z-index: 3;
    border-radius: 0 0 50px 50px;

    background-color: rgba(255, 255, 255, 0.401);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
}

.title{
    margin-top: -20px;
}

h2{
    color: salmon;
    margin:0;
    font-size: 100px;
}

.avatar-area{
    display: flex;
    flex-direction: column;
    margin: 50px 150px 0 40px;
}

.avatar-area p{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0px;
    color: dodgerblue;
}

.avatar, .avatar-container{
    width: 10vh;
    height: auto;
}

.avatar-container{
    border-radius: 50%;
    background-color: salmon;
    overflow: hidden;
}
  

.container{
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    height: 82vh;
    overflow-anchor: auto !important;
}

.chat-content{
    margin: auto;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
}
  
.message{
    margin: 12px 0;
    display: flex;
    align-items: flex-end;
    transform: translateZ(0);
}
  
.bot-message .message-content {
    max-width: 70%;
    padding: 12px 16px;
    background-color: rgb(255, 230, 227);
    border-radius: 16px;
}
  
.message .message-avatar {
    font-size: 16px;
    margin-right: 12px;
    color: whitesmoke;
    background-color: salmon;
    padding: 10px 8px;
    border-radius: 50%;
}


.user-message{
    margin: 12px 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
  
.user-message .message-content {
    max-width: 70%;
    padding: 12px 16px;
    background-color: dodgerblue;
    color: white;
    border-radius: 16px;
}
  
.user-message .message-avatar {
    font-size: 16px;
    margin-right: 12px;
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 50%;
}
  
.user-input{
    margin: 10px 0;
    text-align: center;
}
  
button{
    background-color: dodgerblue;
    color: white;
    border-radius: 200px;
    border: none;
    padding: 5px 10px;
    margin: 10px 5px;
}

.disabled{
    background-color: rgb(191, 191, 191)!important;
}

.img-content img{
    border-radius: 20px;
}

.body-naughty{ animation: backcolor-naughty 3s forwards;}

@keyframes backcolor-naughty {
    0% {background-color: transparent;}
    100% {background-color: rgb(104, 23, 23);}
}

.button-naughty{background-color: black;color: white;}

.user-message.user-naughty .message-content {color: rgb(0, 0, 0); background-color: rgb(179, 142, 142);}

.bot-message.bot-naughty .message-content {color: rgb(255, 255, 255);background-color: rgb(141, 72, 72);}



.body-funny{
    animation: backcolor-funny 3s forwards;
}

@keyframes backcolor-funny {
    0% {background-color: transparent;}
    100% {background-color: rgb(99, 7, 192);}
}

.user-message.user-funny .message-content {color: rgb(0, 0, 0); background-color: rgb(252, 154, 233);}

.bot-message.bot-funny .message-content {color: rgb(0, 0, 0); background-color: rgb(248, 239, 179);}


.body-romantic{
    animation: backcolor-romantic 3s forwards;
}

@keyframes backcolor-romantic {
    0% {background-color: transparent;}
    100% {background-color: #ed99bb;}
}

.user-message.user-romantic .message-content {color: rgb(255, 255, 255); background-color: #ba79ba;}

.bot-message.bot-romantic .message-content {color: rgb(255, 255, 255); background-color: #937fbe;}









@media (max-width: 1200px) {
    .message .message-avatar, .user-message .message-avatar, .message, button{
        font-size: 35px;
        transform: translateZ(0);
    }

    .chat-content{
        margin: 0 0 0 20px;
        width: 92%;
    }

    button{
        padding: 15px 30px;
    }

    h2{
        text-align: center;
        font-size: 50px;
    }

    .chat-header{
        padding: 1px;
    }

    .img-content img{
        width: 50vw;
        height: auto;
    }

} 
@media (min-width: 1200px) {
    button:hover{
        background-color: white;
        color: dodgerblue;
    }
    
}